.clasNav {
    display: block;
}

.educateExper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 16vh;
    z-index: 2;
    position: relative;
}

.exp {
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.exp:first-child {
    border-top-left-radius: 30px;
}

.exp {
    padding: 13px;

}

/* .exp {} */

.signCaps {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    border-radius: 50%;
    /* margin-top: 10px; */
    font-size: 1.6em;
}

.nameverb {
    display: block;
    font-size: 1.1em;
    /* font-weight: 100; */
    letter-spacing: 2px;
    color: rgb(60 60 1);
}

/* .exp::after{
    content: '';
    display: block;
    height: 2px;
    width: 9vw;
    margin: 10px auto;
    background-color: #7e7ea7;
} */

.contBlock {
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    height: 74vh;
}

.listAbs {
    font-size: 1.6em;
    /* font-weight: 100; */
    margin-left: -23px;
}

.tableA {
    font-size: 0.56em;
    margin-bottom: 21px;
}

.ulStufTheme {
    border-left: 4px solid;
    margin-left: 30px;
}

.expCont_1 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.bitTabTd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.table_head1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 35px;
    z-index: 2;
    position: relative;
}

.menuBtn_1 {
    outline: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9em;
    transition: all 0.3s;
}

.descRT {
    padding-left: 1vw;
    background: white;
    padding: 10px;
    position: relative;
    z-index: 0;
    animation: descRT linear 0.3s;
    margin-right: 2px;
    display: block;
    letter-spacing: 0.8px;
    word-spacing: 3px;
    font-size: 0.9em;
}

@keyframes descRT {
    0% {
        top: -13px;
    }

    100% {
        top: 0;
    }
}

.brt_9 {
    font-weight: 100;
}

.io_1 {
    position: relative;
    animation: io_1 linear 0.8s;
}

@keyframes io_1 {
    0% {
        top: -34px;
    }

    100% {
        top: 0;
    }
}

.io_2 {
    position: relative;
    animation: io_2 linear 0.8s;
}

@keyframes io_2 {
    0% {
        top: -24px;
    }

    100% {
        top: 0;
    }
}


.io_3 {
    position: relative;
    animation: io_3 linear 0.8s;
}

@keyframes io_3 {
    0% {
        top: -14px;
    }

    100% {
        top: 0;
    }
}

.tableC {
    font-size: 0.55em;
    border: 4px solid;
    width: 57%;
    padding: 13px;
    margin: 41px;
    margin-top: 9px;
    background: white;
    border-radius: 4px;
    border-bottom: none;
    border-top: none;
    position: relative;
    letter-spacing: 0.4px;
    word-spacing: 3px;
    line-height: 25px;
    min-width: 238px;
}

.tabC_1 {
    animation: tabC_1 linear 0.6s;
}

@keyframes tabC_1 {
    0% {
        left: 100px;
    }

    100% {
        left: 0;
    }
}

.tabC_2 {
    animation: tabC_2 linear 0.6s;
}

@keyframes tabC_2 {
    0% {
        left: 80px;
    }

    100% {
        left: 0;
    }
}

.tabC_3 {
    animation: tabC_3 linear 0.6s;
}

@keyframes tabC_3 {
    0% {
        left: 60px;
    }

    100% {
        left: 0;
    }
}

.expCont_2 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

@media screen and (max-width: 800px) {

    .clasNav {
        display: none;
    }

    .tableA {
        width: 91vw;
        margin: 0 auto;
        margin-bottom: 20px;
    }


    .descSection {
        height: 100vh;
        border-top-right-radius: 30px;
    }

    .nameverb {
        font-size: 0.9em;
        margin-top: 4px;
        letter-spacing: 0.6px;
    }

    .expCont_1 {
        grid-template-columns: 1fr;
    }

    .exp:last-child {
        border-top-right-radius: 30px;
    }

    .ulStufTheme {
        border-left: 3px solid;
        margin-left: 12px
    }

    .listAbs {
        margin-left: -23px;
    }

    .table_head1 {
        grid-template-columns: 1fr 1fr 0.7fr;
        font-size: 0.85em;
    }

    .descRT {
        margin-right: 2.3vh;
        letter-spacing: 0.2px;
        word-spacing: 1px;
    }

    .expCont_2 {
        grid-template-columns: 1fr;
    }

    .tableC {
        width: 78vw;
        margin-left: 0.5vh;
        z-index: 1;
        margin: 1vh 4vw;
    }
}

@media screen and (max-width: 800px) and (min-width: 450px) {

    .tableC {
        width: 89vw;
        margin-left: 1vh;
    }
}