.clasNav {
    display: block;
}

.educateExper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 16vh;
}

.exp {
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.exp:first-child {
    border-top-left-radius: 30px;
}

.exp {
    padding: 13px;

}

/* .exp {} */

.signCaps {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    /* margin-top: 10px; */
    font-size: 1.6em;
}

.nameverb {
    display: block;
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 2px;
    color: rgb(60 60 1);
}

/* .exp::after{
    content: '';
    display: block;
    height: 2px;
    width: 9vw;
    margin: 10px auto;
    background-color: #7e7ea7;
} */

.contBlock {
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    height: 74vh;
}

.listAbs {
    font-size: 1.6em;
    font-weight: 100;
    margin-left: -23px;
}

.tableA {
    font-size: 0.6em;
    margin-bottom: 21px;
}

.ulStufTheme {
    border-left: 4px solid;
    margin-left: 30px;
}

.expCont_1 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.bitTabTd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.table_head1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 35px;
}

.menuBtn_1 {
    outline: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9em;
    transition: all 0.3s;
}


@media screen and (max-width: 800px) {

    .clasNav {
        display: none;
    }

    .tableA{
        width: 91vw;
        margin: 0 auto;
        margin-bottom: 20px;
    }


    .descSection {
        height: 100vh;
        border-top-right-radius: 30px;
    }

    .nameverb {
        display: none;
    }

    .expCont_1 {
        grid-template-columns: 1fr;
    }

    .exp:last-child {
        border-top-right-radius: 30px;
    }

    .ulStufTheme {
        border-left: 3px solid;
        margin-left: 12px
    }

    .listAbs {
        margin-left: -23px;
    }

    .table_head1 {
        grid-template-columns: 1fr 1fr 0.7fr;
        font-size: 0.85em;
    }
}