.clasNav {
    display: block;
}

.educateExper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.edu,
.exp {
    text-align: center;
}

.exp {}

@media screen and (max-width: 600px) {

    .clasNav {
        display: none;
    }


    .descSection {
        height: 100vh;
        border-top-right-radius: 30px;
    }

}