body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


@keyframes rollDownAnime {
  0% {
    top: 75px;
  }
}

.blueBtnTheme {
  background: #222294;
  border: 1px solid #00002f;
  color: white;
}

.blueBtnTheme:hover {
  background: #1010c0;
  transition: all 0.2s;
}

.magentaBtnTheme {
  background: #dc1313;
  border: 1px solid #aa0000;
  color: white;
}

.magentaBtnTheme:hover {
  background: #e93333;
  transition: all 0.2s;
}

.yellowBtnTheme {
  background: #dede10;
  border: 1px solid #b4b41b;
  color: black;
}

.yellowBtnTheme:hover {
  background: #f0f02e;
  transition: all 0.2s;
}

.center {
  text-align: center;
}

.blueTabTheme {
  background-color: #8fc7f8;
  transition: all 0.3s;
}

.blueTabTheme:hover {
  background-color: #6fb7f5;
  transition: all 0.3s;
}

.blueTabTheme::after,
.magentaTabTheme::after,
.yellowTabTheme::after {
  content: '';
  display: block;
  height: 2px;
  width: 9vw;
  margin: 10px auto;
  background-color: #00002f;
}

.magentaTabTheme::after {
  background: #dc1313;
}

.yellowTabTheme::after {
  background: #dede10;
}

.magentaTabTheme {
  background-color: #f8bebe;
  transition: all 0.3s;
}

.magentaTabTheme:hover {
  background-color: #faa8a8;
  transition: all 0.3s;
}

.magentaBtnTheme::after {
  background-color: #b4b41b;
}

.yellowTabTheme {
  background-color: #f8f881;
  transition: all 0.3s;
}

.yellowTabTheme:hover {
  background-color: #fdfd64;
  transition: all 0.3s;
}

.blueBtnDefaultTheme{
  color: #6464dc;
  background: #b1dbff;
}

.blueBtnDefaultTheme:hover{
  background: #7cbcf5;
}

.magentaBtnDefaultTheme{
  color: #f36060;
  background: #ffcbcb;
}

.magentaBtnDefaultTheme:hover{
  background-color: #f7a2a2;
}

.yellowBtnDefaultTheme{
  color: #3c3c01;
  background: #f8f881;
}

.yellowBtnDefaultTheme:hover{
  background: #e9e970;
}

.blueTableBorderTheme{
  background-color: #dbdbe4;
  border-right: 1px solid #c2c8f7;
  border-bottom: 1px solid #c2c8f7;
}

.magentaTableBorderTheme{
  background-color: #fde4e4;
  border-right: 1px solid #ffcece;
  border-bottom: 1px solid #ffcece;
}

.yellowTableBorderTheme{
  background-color: rgb(255, 255, 186);
  border-right: 1px solid #ddf7c1;
  border-bottom: 1px solid #ddf7c1;
  color: #1d1d00;
}