body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


@keyframes rollDownAnime {
  0% {
    top: 75px;
  }
}

.blueBtnTheme {
  background: #050569;
  border: 1px solid #00002f;
  color: white;
}

.blueBtnTheme:hover {
  background: #0a0a8f;
  transition: all 0.2s;
}

.magentaBtnTheme {
  background: #dc1313;
  border: 1px solid #aa0000;
  color: white;
}

.magentaBtnTheme:hover {
  background: #e93333;
  transition: all 0.2s;
}

.yellowBtnTheme {
  background: #dede10;
  border: 1px solid #b4b41b;
  color: black;
}

.yellowBtnTheme:hover {
  background: #f0f02e;
  transition: all 0.2s;
}

.center{
  text-align: center;
}